@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #007bffc9;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --white-color: #fff;
  --black-color: #000;
  --h1-font-size: calc(2rem + 2vw);
  --h2-font-size: calc(1.5rem + 1vw);
  --h3-font-size: calc(1.2rem + 0.5vw);
  --h4-font-size: calc(1rem + 0.25vw);
  --h5-font-size: calc(0.8rem + 0.1vw);
  --h6-font-size: calc(0.6rem + 0.05vw);
  --line-height: 1.5;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@layer components {
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  font-family: 'Roboto', system-ui;
  font-size: 100%;
  line-height: var(--line-height);
    color: #333;
    background-color: rgba(255, 255, 255, 0.213);
  }

  h1 {
    font-size: var(--h1-font-size);
    line-height: var(--line-height);
  }



h2 {
  font-size: calc(1.5rem + 1vw);
}

h3 {
  font-size: calc(1.2rem + 0.5vw);
}

h4 {
  font-size: calc(1rem + 0.25vw);
}

h5 {
  font-size: calc(0.8rem + 0.1vw);
}

h6 {
  font-size: calc(0.6rem + 0.05vw);
}

.custom-title {
  font-size: 0.87rem;
  font-weight: 400;
  color: var(--primary-color);
}

.custom-title:hover {
  color: var(--primary-color);
}

.bet-card {
  background-color: var(--primary-color);
  border-radius: 10px;
  color: var(--white-color);
}

.bet-card:hover {
  background-color: var(--primary-color) !important;
  color: var(--white-color);
}


.text-white { color: #FFEB3B !important}

.iekbcc0.ju367v8 {
  font-size: 65% !important;
}

body > div:nth-child(1) > header > div > div.iekbcc0.ju367va.ju367v1s > button.iekbcc0.iekbcc9.ju367v4.ju367va3.ju367vn.ju367vei.ju367vfu.ju367va.ju367v16.ju367v1h.ju367v8u._12cbo8i3.ju367v8r._12cbo8i4._12cbo8i6 {
  font-size: 65% !important;
}

nav a { font-weight: 600  !important}